    html {overflow-y: scroll}
    body {color: #222;padding: 0}


    /* fix for inputs inline shadow */
		input[type="text"], input[type="email"], input[type="search"], input[type="password"] {
			-webkit-appearance: none;
			-moz-appearance: none;
		}
    /* no borders for buttons (ie7) */
		button {*border: none !important;*border-color: transparent !important}

		a,button,input {outline:none !important}

	/* webkit extra margin fix */
		@media screen and (-webkit-min-device-pixel-ratio:0) {
			button {margin: 0px}
		}

	/* main headings*/
		.heading {border-bottom: 1px solid #dcdcdc;margin-bottom: 18px;padding-bottom: 5px}
		.heading h1,.heading h2,.heading h3,h1.heading,h2.heading,h3.heading,.modal-header h3 {font-family: 'PT Sans', sans-serif;font-weight:400}
		.heading .btn {vertical-align:bottom;margin-left:10px}

	/* fix for .label position */
		h1 + .label {margin:13px 10px 0 0}
		h2 + .label {margin:12px 10px 0 0}
		h3 + .label {margin:7px 10px 0 0}



	/* text-shadow */
		.ov_boxes .ov_text,.dshb_icoNav li a,.table th,.fc thead th{text-shadow: 1px 1px 0 #fff}
		.dataTables_wrapper .sorting_asc,.dataTables_wrapper .sorting_desc {text-shadow: 1px 1px 0 #eee}

	/* Bootstrap adjustments */
		.row-fluid div[class*="span"] {min-height:1px}
		form .row-fluid + .row-fluid {margin-top:10px !important}

		.main_content .row-fluid + .row-fluid {margin-top: 30px}

		.nav-pills + .nav-pills {margin-left: 10px;padding-left:10px;border-left: 1px solid #dcdcdc}
		.nav-pills > li > a {padding: 5px 8px}

		.navbar-fixed-top, .navbar-fixed-bottom {z-index:999}
		.navbar-fixed-top .nav-collapse i {opacity:0.8}
		.navbar-fixed-top .nav-collapse li:hover i {opacity:1}
		.nav-list > li > a,.dropdown-menu li a {-webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;border-radius: 4px}
		.navbar-fixed-top .navHover:after {height:1px;width:100%;bottom:-1px;position:absolute;content:'';display:block}
		.navbar .nav > li > a.nav_condensed {padding-left:2px;padding-right:2px}


		.label {cursor:default}
		.label-important[href],.badge-error {background: #C62626}
		.label-success[href],.badge-success {background: #70A415}
		.label-warning[href],.badge-warning {background: #F5AA1A}
		.label-info[href],.badge-info {background: #058DC7}
		.label-none[href],.badge-info {background: #999999}



	/* tabs */
		.tabbable-bordered{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
		.tabbable-bordered > .nav-tabs {margin: 0}
		.tabbable-bordered .tab-content {border-color: #ddd;border-style:solid;border-width:0;overflow:auto;padding:18px 0 0}
		.tabbable-bordered > .tab-content{-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;border-width:0 1px 1px;padding:20px 20px 10px}



	/* widgets */
        .w-box {-webkit-box-shadow:  0px 1px 2px 0px #efefef;box-shadow:  0px 1px 2px 0px #efefef}
        .w-box + .w-box {margin-top:20px}
        .w-box-header {height:32px;line-height:32px;border:1px solid #ddd;padding:0 10px;background: #fbfbfb;background: -moz-linear-gradient(top,  #fbfbfb 0%, #f1f1f1 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#f1f1f1));background: -webkit-linear-gradient(top,  #fbfbfb 0%,#f1f1f1 100%);background: -o-linear-gradient(top,  #fbfbfb 0%,#f1f1f1 100%);background: -ms-linear-gradient(top,  #fbfbfb 0%,#f1f1f1 100%);            background: linear-gradient(top,  #fbfbfb 0%,#f1f1f1 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f1f1f1',GradientType=0 );font-weight:700;color:#666;font-size:11px}
        .w-box-header .btn-group {margin-top:5px}
        .w-box-header .dropdown-menu {font-size:12px}
        .w-box-header input {padding:2px;margin:-2px 0 0}
        .w-box-content {border:1px solid #ddd;border-top:none}
        .w-box-content.cnt_a {padding:10px}
        .w-box-content table,.w-box-content pre {margin-bottom:0}
        .w-box-content pre {-webkit-border-radius: 0 0 0 0;-moz-border-radius: 0 0 0 0;-ms-border-radius: 0 0 0 0;border-radius: 0 0 0 0;border:none}
        .w-box-content .no-th tr:first-child td {border-top:none}
        .w-box-content .gebo-upload {margin:0}
        .w-box-content .gebo-upload .plupload_filelist_header {border-top:none}
        .w-box-content .gebo-upload .plupload_filelist_footer {border-bottom:none}
        .w-box-content .tabbable {position:relative;top:-28px;margin-bottom:-28px}
        .w-box-content .nav-tabs {border-bottom:none}
        .w-box-content .nav-tabs {float:right;clear:both}
        .w-box-content .nav-tabs > li > a {padding:4px 6px;font-size:11px}
        .w-box-content .nav-tabs > li.active > a {background:#fff !important}
        .w-box-content .nav-tabs > li > a:hover {border-color:#ddd #ddd transparent;background: transparent}
        .w-box-content .tab-content {clear:both}
        .w-box-content .tab-pane {padding:0 10px 10px}
        .w-box-footer {border:1px solid #ddd;padding:8px 10px;background: #fdfdfd;border-top:none}
        .w-box-footer .pagination {margin:0; font-size:11px;height:22px}
        .w-box-footer .pagination a {line-height:20px}


	/* icon list */
		.icon_list_a,.icon_list_b,.icon_list_c,.icon_list_d {list-style: none;margin:0 0 30px}
		.icon_list_a li,.icon_list_b li,.icon_list_d li {padding:4px 0;width:30px;text-align:center;border:1px solid #dcdcdc;float:left;margin:4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;border-radius: 4px}
		.icon_list_c li {padding:4px 0;width:40px;text-align:center;border:1px solid #dcdcdc;float:left;margin:4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;border-radius: 4px}

    /* aditional icons */
        .icon-adt_trash,.icon-adt_atach,.icon-adt_enter {background: url(../img/adt-icons.png) no-repeat 0 0;width:16px;height:16px}
        .icon-adt_atach {background-position:0 0}
        .icon-adt_trash {background-position:0 -24px}
        .icon-adt_enter {background-position:0 -47px;width:12px;height:12px}

	/* datatables */
		div.dataTables_length label{float:left;text-align:left}
		div.dataTables_length select{width:75px}
		div.dataTables_filter label{float:right}
		div.dataTables_info{padding-top:8px}
		div.dataTables_paginate{float:right;margin:0}
		.dataTables_wrapper{position:relative;overflow:hidden}
		.dataTables_wrapper table.table {clear:both;margin-bottom:6px!important;max-width:inherit}
		.dataTables_wrapper table.table thead .sorting,table.table thead .sorting_asc,table.table thead .sorting_desc,table.table thead .sorting_asc_disabled,table.table thead .sorting_desc_disabled{cursor:hand;cursor:pointer}
		.dataTables_wrapper table.table thead .sorting{background: #e9f3f8 url(../lib/datatables/images/sort_both.png) no-repeat center right}
		.dataTables_wrapper table.table thead .sorting_asc{background: #e9f3f8 url(../lib/datatables/images/sort_asc.png) no-repeat center right}
		.dataTables_wrapper table.table thead .sorting_desc{background: #e9f3f8 url(../lib/datatables/images/sort_desc.png) no-repeat center right}
		.dataTables_wrapper table.table thead .sorting_asc_disabled{background: #e9f3f8 url(../lib/datatables/images/sort_asc_disabled.png) no-repeat center right}
		.dataTables_wrapper table.table thead .sorting_desc_disabled{background: #e9f3f8 url(../lib/datatables/images/sort_desc_disabled.png) no-repeat center right}
		.dataTables_wrapper table.dataTable th:active{outline:none}
		.dataTables_wrapper .row{margin:0 0 5px}
		.dataTables_wrapper select{min-height:inherit}
		.dataTables_wrapper table + .row{margin-bottom:0;margin-top:10px}
		.dataTables_scrollBody{-webkit-overflow-scrolling:touch}
		.dataTables_wrapper .top,.dataTables_wrapper .bottom{background-color:#f5f5f5;border:1px solid #CCC;padding:15px}
		.top .dataTables_info{float:none}
		.dataTables_empty{text-align:center!important;font-size:15px;background:#fff!important;padding:20px 0!important}
		.dataTables_scroll{clear:both;margin-bottom:10px}
		.dataTables_scrollHeadInner table.table-bordered{-webkit-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;border-bottom:none}
		.dataTables_scrollHeadInner table.table-bordered,.dataTables_scrollHeadInner table.table-bordered thead{border-bottom:none}
		.dataTables_scrollBody table{border-top:none}
		.dataTables_processing{position:absolute;top:50%;margin-top:-24px;z-index:100;left:50%;width:250px;margin-left:-125px;border:1px solid #ddd;text-align:center;color:#000;background:#fff;font-size:15px!important;-webkit-box-shadow:0 0 4px rgba(0,0,0,0.2);-moz-box-shadow:0 0 4px rgba(0,0,0,0.2);-ms-box-shadow:0 0 4px rgba(0,0,0,0.2);box-shadow:0 0 4px rgba(0,0,0,0.2);padding:10px 0}
		.dataTables_wrapper .center{text-align:center}
		.dataTables_wrapper .details,.dataTables_wrapper .details:hover{background:#ddd!important}
		.dataTables_wrapper .details table td{background:#fff!important}
		.dataTables_scrollHeadInner table.table,.dataTables_wrapper .details table.table{margin:0!important}
		.dataTables_wrapper .dt_actions {float:left;margin-right:20px}
		.dataTables_empty {cursor:default}
		.dTableR {width:100% !important}

	/* vcard */
	.vcard .thumbnail {float:left}
	.vcard > ul {list-style:none;margin:0 0 0 0;overflow:hidden}
	.vcard > ul > li:first-child {border-top:1px dashed #dcdcdc}
	.vcard > ul > li {padding:8px;border-bottom:1px dashed #dcdcdc}
	.vcard .item-key {float:left;color:#888}
	.vcard .vcard-item {margin-left:90px}
	.vcard .v-heading {background:#F0F9FF;font-weight:700}
	.vcard .v-heading span {font-weight:100;font-size:11px;color:#666}
	.vcard .item-list-more,.vcard .thumbnail.item-list-more {display:none}

	.lang-country {
		display: inline-block;
		width: 20px;
	}

	.tabs-left>.nav-tabs {
		margin-right: 5px;
	}

	.old-site td {background-color:#e9e9e9;}
	/*.old-site td {background-color:#d9edf7;}*/
	/*.old-site td {background-color:#b94a48;}*/
	/*.old-site td {background-color:#c09853;}*/

	.server-deployment .loading {margin:10px 0; text-align:center;}
	.servers-table.table th, .servers-table.table td {padding:0 0 0 8px;}
	.servers-table .environment {background-color:#d9edf7; font-weight:bold; text-align:center;}
